<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>settingsFile</param-name>
        <!-- param-value>marquee_settings.properties</param-value -->
        <param-value>C:\Users\Erika\Documents\NetBeansProjects\TestWebApp\web\marquee_settings.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>MarqueeServlet</servlet-name>
        <servlet-class>com.akiresoft.marquee.MarqueeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarqueeServlet</servlet-name>
        <url-pattern>/MarqueeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
